<h2 class="text-2xl font-semibold mb-4">Lista Zadań</h2>

<p-accordion [value]="[0]" [multiple]="true" class="p-4">
  <p-accordion-panel *ngFor="let task of paginatedTasks; let i = index" [value]="i">
    <p-accordion-header>
      <span class="text-lg font-medium">{{ task.title }}</span>
    </p-accordion-header>
    <p-accordion-content>
      <div class="p-4 bg-gray-100 border border-gray-200 rounded-md">
        <p class="mb-2 text-gray-700">{{ task.description }}</p>

        <div class="bg-black text-white p-4 rounded-md mb-4">
          <pre><code>{{ task.codeSnippet }}</code></pre>
        </div>

        <div class="flex gap-2">
          <p-button
            label="Start"
            icon="pi pi-play"
            class="p-button-success"
            (onClick)="startTask(task.id)"
          ></p-button>

          <p-button
            label="Prześlij zadanie"
            icon="pi pi-upload"
            class="p-button-primary"
            (onClick)="submitTask(task.id)"
          ></p-button>
        </div>
      </div>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>

<!-- Paginator -->
<div class="mt-4 flex justify-center">
  <p-paginator
    [first]="0"
    [rows]="itemsPerPage"
    [totalRecords]="totalTasks"
    (onPageChange)="updatePaginatedTasks($event.page ?? 0)"
    [rowsPerPageOptions]="[5, 10, 20]"
  ></p-paginator>
</div>
